{
  "ios": {
    "provisioningProfilePath": "certs/com.iftsoftware.snoozetax.mobileprovision",
    "distributionCertificate": {
      "path": "certs/distribution.p12",
      "password": "YOUR_P12_PASSWORD"
    }
  }
}
