<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSEpJ4dni3pxqIDpi3Ju0BPMfHJ2psVwA</string>
	<key>GCM_SENDER_ID</key>
	<string>703461511477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iftsoftware.snoozetax</string>
	<key>PROJECT_ID</key>
	<string>snoozetax-d0360</string>
	<key>STORAGE_BUCKET</key>
	<string>snoozetax-d0360.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703461511477:ios:77adbf68760b20dd24fc7c</string>
</dict>
</plist>